
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
  background-image: linear-gradient(to right top, #3f0526, #4b173e, #542958, #583c73, #56508d, #465c9a, #2f69a4, #0074aa, #0078a1, #007b95, #007d86, #0f7d76) !important;
}


.shadow-lg {
  background-image: linear-gradient(to right top, #7ef286, #92f17d, #a3f075, #b4ee6e, #c3ec68);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color:black !important;
}

.navbar-brand {
  color:black !important;
}

h1{
  color:solid black;
  font-size: 20px !important;
}
.flex-cointainer{
  display:flex !important;
}
.btn{
  background-color: red !important;
}
.select{
  box-shadow: none !important;
  border-color: black;
}

